*{
  font-family: 'Comic Neue', cursive;
  color: #FF9900
}

ul {
    list-style-type: none;
}

body{
  background-color: #F3F3F3;
}

.bi{
  color: white
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  background-color: #FF9900;
  color: white;
}

.sidebar a {
  padding: 14px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
  border-bottom: 1px solid white;
}

a.active{
  border: none;
  color:#FF9900;
  font-weight: bold;
  background-color: #F3F3F3;
  margin-left: 24px;
  margin-bottom: 10px;
  margin-top:10px;
  padding-left: 24px;
  border-radius: 24px 0px 0px 24px;
  box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.2);
}

a.active .bi{
  color: #FF9900
}

.sidebar li:hover * {
  color: red !important;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidebar-toggle {
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  border-radius: 16px;
  color: #FF9900;
  padding: 10px 15px;
  border: none;
  box-shadow:  1px 3px 5px 1px rgba(0,0,0,0.2);
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
  margin-left: 250px
}

.main-title{
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 0px
}

.main-container{
  background-color: white;
  border-radius: 24px;
  margin: 20px 50px;
  padding: 5px 20px;
  box-shadow:  1px 3px 5px 1px rgba(0,0,0,0.2);
}

@media screen and (max-width: 1360px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 14px;}
}

.logout-btn{
  position: absolute;
  bottom: 5vh;
  left: -50px;
  font-size: 24px;
  font-weight: bold;
  background-color: white;
  color:#FF9900;
  padding: 10px 50px 10px 100px;
  border: none;
  border-radius: 50px;
  box-shadow:  2px 5px 5px 1px rgba(0,0,0,0.2);
}
